img{
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.col-md-9{
    border-right: groove;
    border-right-width: 1.5px;
    border-color: grey;
    padding-right: 30px;
}

section header{
    text-align: left;
    background-color:white;
    color: darkblue;
    padding: 2px;
    font-style: italic;
}

.texto{
    text-align: justify;
    text-decoration-style: wavy;
}

.linea-horizontal{
    color: grey;
    border-style: groove;
    border-width: 1.5px;
}

.lateral{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.texto-lateral{
    text-align: center;
}

aside header{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 3px;
}

aside img{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nav-link{
    color:lightblue;
}

.dropdown-item{
    color: #999999;
}

.was-validated{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    padding: 30px;
}

.card{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md{
    padding: 25px;
}

footer{
    background-color: #f4f4f4;
    font-style: oblique;
}